/* Importing Bootstrap SCSS file. */
@import"~bootstrap/scss/bootstrap";
/* Importing Datepicker SCSS file. */
@import"node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.btSalveModal{
    padding-left: 0px;
}
.btCloseModal{
    padding-right: 0px;
}
.modalOpenBody{
    padding-right: 17px;
}

.modalOpenDiv{
    display: block;
}

.modalCloseDiv{
    display: none;
}