<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-address-card-o"></i> Clientes  

        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>última Venda</th>
                <th>Valor</th>
                <th>Pago</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>Vishnu Serghei</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Zbyněk Phoibos</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Einar Randall</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Félix Troels</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr> -->
              <tr *ngFor="let customer of customers; let i=index" (click)="clickRow(customer,i)" [class]="selectRow[i]" > 
                <td> {{customer.name }} </td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row " >

          <div class=" col-2 mt-3 mb-3 mb-xl-0">
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>

          <div class="col-4" > 
            <div class="row align-items-center mt-3">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button  (click)="clickCreat(template)" type="button" class="btn btn-block btn-success active"  aria-pressed="true">Novo</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button  (click)="clickEdit()" type="button" class="btn btn-block btn-primary active" aria-pressed="true">Editar</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button  (click)="clickDell(templateDell, templateDellEmpty)" type="button" class="btn btn-block btn-danger active" aria-pressed="true">Deletar</button>
              </div>
            </div>
          </div>

          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div> 























  <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
  <!--/.row-->
</div>
 
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Criando Novo Usuário</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form >
  <div class="modal-body">  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- <div class="card-header">
              <strong>Credit Card</strong>
              <small>Form</small>
            </div> -->
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="personNew.name">Nome</label>
                    <input type="text" class="form-control" id="personNew.name" [(ngModel)]="personNew.name" [ngModelOptions]="{standalone: true}" placeholder="Enter name">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="personNew.phone">Telefone </label>
                    <input type="text" class="form-control" id="personNew.phone" [(ngModel)]="personNew.phone" [ngModelOptions]="{standalone: true}" placeholder="Enter telefone">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="personNew.email">Email </label>
                    <input type="text" class="form-control" id="personNew.email" [(ngModel)]="personNew.email" [ngModelOptions]="{standalone: true}"  placeholder="Enter email">
                  </div>
                </div>
              </div><!--/.row--> 
            </div>
          </div>
        </div><!--/.col--> 
      </div><!--/.row-->
    

    <div class="col-12" > 
      <div class="row align-items-center mt-3">
        <div class="col-3 btSalveModal  mb-3 mb-xl-0">
          <button (click)="addCreatPerson(template)" type="submit" class="btn btn-block btn-success active"  aria-pressed="true">Adicionar</button>
        </div>
        <div class="col-6   mb-3 mb-xl-0">  </div>
        <div class="col-3 btCloseModal  mb-3 mb-xl-0">
          <button  (click)="modalRef?.hide()" type="button" class="btn btn-block btn-danger active" aria-pressed="true">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</ng-template>



<ng-template #templateDell>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Removendo Usuário</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form >
  <div class="modal-body">   
    <div class="card-body">
      Usuario Nome : {{customerSelect.name}}
    </div>

    <div class="col-12" > 
      <div class="row align-items-center mt-3">
        <div class="col-3 btSalveModal  mb-3 mb-xl-0">
          <button (click)="addCreatPerson(template)" type="submit" class="btn btn-block btn-danger active"  aria-pressed="true">Remover</button>
        </div>
        <div class="col-6   mb-3 mb-xl-0">  </div>
        <div class="col-3 btCloseModal  mb-3 mb-xl-0">
          <button  (click)="modalRef?.hide()" type="button" class="btn btn-block btn-secondary active" aria-pressed="true">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</ng-template>


<ng-template #templateDellEmpty>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selecione um Usuário</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form >
  <div class="modal-body">    
    <div class="col-12" > 
      <div class="row align-items-center mt-3">
        <div class="col-3 btSalveModal  mb-3 mb-xl-0"> 
        </div>
        <div class="col-6   mb-3 mb-xl-0">  </div>
        <div class="col-3 btCloseModal  mb-3 mb-xl-0">
          <button  (click)="modalRef?.hide()" type="button" class="btn btn-block btn-secondary active" aria-pressed="true">OK</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</ng-template>




